<%- include('../partials/head')%>
        <div class="container-main">
            <h1>Busca tus peliculas y series favoritas</h1>
            <div class="search">
                <form action="/" method="GET">
                    <label for="search">
                        <input type="text" placeholder="Buscar..." id="search">
                        <i class="fas fa-search" id="search"></i>
                        <div class="output" id="output">
                            <!-- <p class="alert">No hay resultados de: dfsfdf</p> -->

                            <!-- <div class="card">
                                <div class="card-image">
                                    <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/bpekaY0V6RPnPhBQxkeRAHouAN1.jpg" alt="">
                                </div>
                                <div class="card-info">
                                    <span>El capitan america</span>
                                    <span>Año: 2020</span>
                                    <span>idioma: es</span>
                                </div>
                            </div> -->

                        </div>
                    </label>
                </form>
            </div>
        </div>
<%- include('../partials/footer')%>